$fonts-weights: (
  "Thin"      : 100,
  "ExtraLight": 200,
  "Light"     : 300,
  "Regular"   : 400,
  "Medium"    : 500,
  "SemiBold"  : 600,
  "Bold"      : 700,
  "ExtraBold" : 800,
  "Black"     : 900
);

@each $weight-name, $weight-score in $fonts-weights {
  @font-face {
    font-family: "Saira Condensed";
    src: url("src/assets/fonts/saira-condensed/SairaCondensed-#{$weight-name}.ttf");
    font-style: normal;
    font-weight: #{$weight-score};
  }
}